@{
    ViewData["Title"] = "אחריות ויצירת קשר";
}
<h1 dir="rtl"><u>@ViewData["Title"]</u></h1>
<p dir="rtl">
    כל התכשיטים הנרכשים באתר באחריות מלאה!!!

    תכשיט אשר נרכש באתר מגיע עם תעודת אחריות מלאה לשנתיים מיום רכישת התכשיט.

    תכשיט יהלומים אשר נרכש באתר מגיע עם תעודת אחריות מלאה ל5 שנים מיום רכישת התכשיט בהתאם לתקנון.

    תכשיט יהלומים אשר נרכש באתר מגיע עם תעודה גמולוגית בורסאית מהחברות המובילות

    בעולם לפי בחירת הלקוח ובהתאם למוצר שנרכש בתיאום מול שירות הלקוחות

    בעת קבלת התכשיט תקבלי תעודת אחריות בצירוף החשבונית אותה יש להציג על מנת ליהנות מהאחריות.
    אחריות זו היא בעבור ליקויי ייצור בלבד ותקפה בתנאים הבאים:
    </p>
<p>
    1 .התכשיט אוחזק ברמה סבירה והגיונית
    <br />
    2 .לא נעשה מגע בין התכשיט וחומצות או חומרי ניקוי
    <br />
    3 .לא בוצעו בתכשיט תיקונים/ עבודות צורפות שאינן ע”י bendajewelry או מי מטעמה
    <br />
    4 .האחריות אינה תקפה על שבר, קרע, או פגיעה בתכשיט, בשל שימוש שאינו סביר, או אי עמידה בתנאי השימוש המומלצים באתר.
    <br />
    5 .האחריות אינה תקפה על אובדן או גניבה של התכשיט או חלקים ממנו
    <br />
    למימוש האחריות או כל שאלה בנושא יש לפנות לשירות הלקוחות – 0509203043 0587247413 או בכתובת האימייל – ofek8852@gmail.com
    אנו מאחלים לך הנאה מרובה מהתכשיט ונשמח לעמוד לרשותך בכל שאלה.
</p>